body{
    margin:0;
    background-color: rgb(212, 212, 212);
}

.primeira{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(127, 202, 252);
    height: 100px;
}

#gato{
    margin-right: 30px;
    margin-top: 20px;
    height: 70px;
    width: 86px;
}

#titulo{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.segunda{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.linkimagem{
    height: auto; 
    width: auto; 
    max-width: 60px; 
    max-height: 60px;
}

#quadro{
    
    background-color:#6f2086;
    border-radius: 30px;
    color:black;
    height:293px;
    width: 600px;
    
}

#textoagenda{
    text-align: center;
    margin:9px;
    margin-left: 216px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: -1em;
    -webkit-margin-start: 227px;
    -webkit-margin-end: 5px;
    color: #ffffff;
}

#mais{
    margin-top: 16px;
    margin-left: 198px;
    max-width: 25px; 
    max-height: 25px;
}

ul{
    background-color: #ffffff;
    border-radius: 30px;
    color: black;
    height: 236px;
    width: 560px;
    list-style-type: none;
}

ul > li > p  {
    display: -webkit-inline-box;
    position:relative;
}

ul> li > button {
    background-color:lightblue;
    border-radius: 30px;
    width: 109px;
    height: 41px;
}
#relatoriodiario{
    background-color:rgb(127, 202, 252);
    border-radius: 30px;
    height: 139px;
    width: 600px;
    color: white;

}
#relatoriodiario > button  {
    display: -webkit-inline-box;
    position:relative;

}

#lista-relatorio-d {
    height: 108px;
    width: 559px;
    border-radius: 34px;
}

#quadrotop{
    display: flex;
}



.itemtarefa{
    display: inline-block;
}

aside {
    background-color:black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-230px);
    transition: 1.2s;
    box-shadow: 0 10px;
}

aside h1{
    margin-top: 120px;
}

#head{
    background-color: white;
    width: 300px;
    display: flex;
    font-family: avenir;
    color:black;
}

#botoes{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    align-items: flex-end;
    margin-left: 5px;
    height: 30px;
}

#hamburger{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.tracinho{
    z-index: 1;
    background-color: black;
    border-radius: 25%;
    height: 3px;
    margin-top: 5px;
    transition: 1.2s;
}

aside.active{
    transform: translateX(0);
    transition: 1.2s;
}

#hamburger.active .tracinho:nth-child(1){
    transform: rotate(45deg) translate(5px, 6px);
}

#hamburger.active .tracinho:nth-child(2){
    display: none;
}

#hamburger.active .tracinho:nth-child(3){
    transform: rotate(-45deg);
}

h1>span{
    height: 6px;
    width: 153px;
    background-color: black;
}